<!DOCTYPE html>
<html lang="ru">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" th:href="@{/css/index_style.css}">
	<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"
		  integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
	<link rel="shortcut icon" th:href="@{/img/logo.png}" type="image/x-icon">
	<title>Интернет магазин МТС</title>
	<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body style="background-color: whitesmoke">
<div class="general_div">
	<nav class="navbar navbar-expand-md navbar-dark bg-dark" aria-label="Fourth navbar example">
		<div class="container-fluid">
			<a class="navbar-brand" href="#"></a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarsExample04">
				<ul class="navbar-nav me-auto mb-2 mb-md-0">
					<li class="nav-item">
						<a class="nav-link" href="/auth/index1">Главная страница</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/product">Каталог товаров</a>
					<li class="nav-item">
						<a class="nav-link" href="/auth/about">Новости</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/auth/login">Авторизация</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<div class="about">
	<H3>Ко́фе</H3>

	<p>Ко́фе — напиток из жареных и перемолотых зёрен кофейного дерева или кофейного куста
	<p>Открытие кофе относится приблизительно к 850 году н. э., но полное признание его пришло много веков спустя.
		До XIV века кофе произрастал в Эфиопии в диком виде. После кофейное дерево было привезено на Аравийский полуостров.
		В XVI веке стал широко распространяться в Османской империи. В конце XVI века европейские торговцы начали закупать
		кофе в арабских портах и привозить в Европу. Согласно легенде, в середине XVII века мусульманский пилигрим тайно
		вывез кофейные зёрна в Южную Индию. Оттуда в конце XVII века голландские торговцы тайно вывезли кофейное дерево на Яву
		и Суматру. Это послужило концом арабской монополии на выращивание кофе.
	<p>В России кофе оказался при царе Алексее Михайловиче и служил средством от многих болезней, в том числе от мигрени. Однако именно обычай пить кофе связывают с именем Петра I. Он, по утверждениям историков, насильно поил «горьким пойлом» приближённых. В 1703 году был открыт первый кофейный дом.
	<br>
		<p>Виды кофейных деревьев
		<p>Насчитывается более 90 видов растений, относящихся к роду кофе (Coffea). Но в промышленных масштабах используются только два из них:
		<p>Coffea arabica L. — кофе аравийский (вид зерна — «арабика»);
		<p>Coffea canephora Pierre ex A.Froehner — кофе конголезский (вид зерна — «робуста»).
		<p>На эти два вида приходится по разным оценкам до 98 % производимого кофе. Этот объём делится в соотношении 69 % — арабика, 29 % — робуста. На остальные виды кофе приходится 2 % мирового производства.
		<p>С кофейного дерева собирают до 3,6 кг, макс до 5,5 кг.
		<br>
<p>Арабика — наиболее распространённый вид кофе. Вид кофейного дерева кофе аравийский, из которого получают зёрна этого сорта, произрастает на высоте от 900 до 2000 метров над уровнем моря. Зёрна, как правило, имеют продолговатую форму, гладкую поверхность, слегка изогнутую в форме буквы S линию, в которой обычно после лёгкой обжарки остаются невыгоревшие частицы кофейной ягоды.
<br>
<p>Робуста обычно считается менее изысканным сортом кофейного зерна с точки зрения аромата. В то же время она содержит больше кофеина, а также часто используется в эспрессо-смесях, что позволяет добиваться более качественной кофейной пенки и удешевляет смесь. Вид кофейного дерева кофе конголезский, из которого получают эти зёрна, является быстрорастущим и более устойчивым к вредителям, чем кофе аравийский, и произрастает примерно от 0 до 600 м над уровнем моря, прежде всего — в тропических районах Африки, Индии, Шри-Ланки и Индонезии. Зёрна имеют округлую форму, цвет — от светло-коричневого до серовато-зелёного
<br>
<p>	Потребление
		<p>Около трети кофе потребляется в странах-производителях, в частности в Бразилии (1,32 млн тонн), Индонезии (282 тысячи тонн). Крупнейшими потребителями-импортёрами кофе является Евросоюз (2,5 млн тонн, в первую очередь Германия, Италия, Франция), США (1,57 млн тонн), Япония (465 тысяч тонн), Россия (271 тысяча тонн), Канада (227 тысяч тонн), Республика Корея (140 тысяч тонн), Алжир (133 тысячи тонн), Австралия (110 тысяч тонн), Саудовская Аравия (86 тысяч тонн), Турция (83 тысячи тонн), Украина (67 тысяч тонн).
		<br>
		<div class="container">
			<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
				<p class="col-md-4 mb-0 text-muted">© 2022 Coffee@Company, Inc</p>
				<ul class="nav col-md-4 justify-content-end">
					<li class="nav-item"><a href="/auth/index1" class="nav-link px-2 text-muted">Главная</a></li>
					<li class="nav-item"><a href="/product" class="nav-link px-2 text-muted">Каталог</a></li>
					<li class="nav-item"><a href="/auth/about" class="nav-link px-2 text-muted">Новости</a></li>
					<li class="nav-item"><a href="/auth/login" class="nav-link px-2 text-muted">Авторизация</a></li>
				</ul>
			</footer>
		</div>
	</div>
</div>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/script.js}"></script>
</body>
</html>